* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
body{
  font-family: 'Abel', sans-serif;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#box {
  background: #F8F8F8;
  width: 350px;
  height: 380px;
  margin: 25vh auto 0 auto;
  border-radius:6px;
  padding-top: 14px;
  text-align: center;
}
#box img {
  display: block;
  margin:0 auto;
  width: 100px;
}

#box h1 {
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 4.4px;
}

#box p {
  margin-top: 14px;
  font-size: 14px;
  letter-spacing: 3.12px;
}
#box a {
  display: block;
  margin-top: 14px;
  font-size: 14px;
  letter-spacing: 3.12px;
  color: black;
}
@keyframes fade{
  0% {opacity:0;}
  50% {opacity: .45;}
  100% {opacity: 0;}
}

#close-btn {
  font-size: 24px;
  position:relative;
  background:none;
  border:none;
  padding:0;
  margin-top: 10%;
  cursor: pointer;
  animation-name: fade;
  animation-duration:4s;
  animation-iteration-count: infinite;

}

/*close and open box */

#close-btn:hover {
  animation-name: none;
  opacity: .45;

}

#closed-box {
  display:none;
}

#open-btn-non{ 
  
  display:none;
  font-size: 35px;
  color:#F8F8F8;
  opacity: .4;
  background:none;
  border:none;
  padding:0;
  position: fixed;
  bottom: 11px;
  left: 180px; }

#open-btn-vis {
  display: visible;
  cursor: pointer;
  font-size: 35px;
  color:#F8F8F8;
  opacity: .4;
  background:none;
  border:none;
  padding:0;
  position: fixed;
  bottom: 11px;
  left: 185px;
}

#open-btn-vis:hover {
  opacity:.9;
  -ms-transform: translate(0px,-1px);
  -webkit-transform: translate(0px,-1px);
  transform: translate(0px, -1px);
}

#btn {
  display:flex;
  font-size: 45px;
  color:#F8F8F8;
  opacity: .4;
  background:none;
  border:none;
  padding:0;
  position: fixed;
  bottom: 10px;
  left: 30px;
  cursor: pointer;
  
}

#btn:hover {
  opacity:.9;
  -ms-transform: translate(0px,-1px);
  -webkit-transform: translate(0px,-1px);
  transform: translate(0px, -1px);
}

#left {
  display:flex;
  font-size: 35px;
  color:#F8F8F8;
  opacity: .4;
  background:none;
  border:none;
  padding:0;
  position: fixed;
  bottom: 16px;
  left: 80px;
  cursor: pointer;

}

#left:hover {
  opacity:.9;
  -ms-transform: translate(0px,-1px);
  -webkit-transform: translate(0px,-1px);
  transform: translate(0px, -1px);
}

#right {
  display:flex;
  font-size: 35px;
  color:#F8F8F8;
  opacity: .4;
  background:none;
  border:none;
  padding:0;
  position: fixed;
  bottom: 16px;
  left: 132px;
  cursor: pointer;

}

#right:hover {
  opacity:.9;
  -ms-transform: translate(0px,-1px);
  -webkit-transform: translate(0px,-1px);
  transform: translate(0px, -1px);
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	
	#box{
		width:70%;
		height:740px;
	}

	#box img {
  		display: block;
  		margin:20px auto;
  		width: 200px;
}

	#box h1 {
        font-weight: normal;
        font-size: 50px;
        letter-spacing: 4.4px;
}

	#box p {
	    margin-top: 14px;
	    font-size: 34px;
	    letter-spacing: 3.12px;
}
	#box a {
	    display: block;
	    margin-top: 14px;
	    font-size: 34px;
	    letter-spacing: 3.12px;
	    color: black;
}
	#close-btn {
  font-size: 54px;
  position:relative;
  background:none;
  border:none;
  padding:0;
  margin-top: 0%;
  cursor: pointer;
  animation-name: fade;
  animation-duration:4s;
  animation-iteration-count: infinite;

}
#btn {
  display:flex;
  font-size: 100px;
  color:#F8F8F8;
  opacity: .4;
  background:none;
  border:none;
  padding:0;
  position: ;
  bottom: 10px;
  left: 30px;
  cursor: pointer;
  
}

#btn:hover {
  opacity:.9;
  -ms-transform: translate(0px,-1px);
  -webkit-transform: translate(0px,-1px);
  transform: translate(0px, -1px);
}

#left {
  display:flex;
  font-size: 85px;
  color:#F8F8F8;
  opacity: .4;
  background:none;
  border:none;
  padding:0 30px;
  position: ;
  bottom: 16px;
  left: 80px;
  cursor: pointer;

}

#left:hover {
  opacity:.9;
  -ms-transform: translate(0px,-1px);
  -webkit-transform: translate(0px,-1px);
  transform: translate(0px, -1px);
}

#right {
  display:flex;
  font-size: 85px;
  color:#F8F8F8;
  opacity: .4;
  background:none;
  border:none;
  padding:0 30px;
  position: ;
  bottom: 16px;
  left: 180px;
  cursor: pointer;

}

#right:hover {
  opacity:.9;
  -ms-transform: translate(0px,-1px);
  -webkit-transform: translate(0px,-1px);
  transform: translate(0px, -1px);
}

#open-btn-vis {
  display: visible;
  cursor: pointer;
  font-size: 85px;
  color:#F8F8F8;
  opacity: .4;
  background:none;
  border:none;
  padding:0;
  position: fixed;
  bottom: 6px;
  left: 320px;
}
	

}
@media all and (max-width: 500px) {
}